@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}

.website-logo {
  margin-right: 3.5rem;
}

.menu-btn {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.menu-btn img {
  height: 32px;
  width: auto;
}

.menu-btn:hover,
.menu-btn:focus,
.menu-btn:active {
  transform: scale(1.25);
}

.side-menu {
  flex: 1 0 auto;
  min-height: 0;
}

.side-menu-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.5rem;
  border: none;
}

.side-menu-nav {
  display: flex;
  padding-left: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
  border: none;
  width: 100%;
  cursor: pointer;
}

.btn {
  font-size: 1.1rem;
  border: none;
  background: none;
  flex-direction: flex-start;
}

.btn:hover,
.btn:focus,
.btn:active {
  font-weight: 700;
  text-shadow: 0 3px 7px rgb(160, 157, 157);
  padding-left: 0.5rem;
  border-left: 10px solid aquamarine;
}

.side-menu-footer {
  flex-shrink: 0;
}

.footer-buttons {
  display: flex;
  width: 100%;
  border: none;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 100;
}

.email-us a {
  text-decoration: none;
  color: black;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
}

.language-options {
  display: flex;
  gap: 0.3rem;
}

.btn-language {
  font-size: 0.8rem;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-language:hover {
  transform: scale(1.25);
  cursor: pointer;
}
